<!-- Credit : Ross Martin, http://codepen.io/rossmartin/pen/XJmpQr -->

<ion-view title="Chat">

  <ion-content class="has-header" padding="true">

  <div id="myList" ui-scroll-viewport style="height:200px">
    <div ui-scroll="item in Chat.datasource" adapter="Chat.adapter" is-loading="loading" buffer-size='50' class="message-wrapper">
      <img class="profile-pic" ng-src="img/adam.jpg" ng-class="item.name == 'See-See Leong' ?  'left' : 'right'">
      <div class="message chat-bubble" ng-class="item.name == 'See-See Leong' ?  'left' : 'right'">
        {{item.seqId}} {{item.name}} : {{item.message}}
      </div>
      <div class="cf"></div> <!--clear both-->
    </div>

  </div>


</ion-content>

<div class="bar bar-footer bar-stable sub-footer">

  <label class="item item-input">
    <input placeholder="Write a message..." ng-model="Chat.data.message" ng-keyup="$event.keyCode == 13 && Chat.sendMessage();" ng-focus="Chat.inputUp()" ng-blur="Chat.inputDown()" dir="auto" type="text" />
  </label>
  <button ng-click="Chat.sendMessage()" class="button button-clear button-positive">Send</button>
</div>
</ion-view>
