<ion-view view-title="Login">
  <ion-content class="has-header">
    <div>
      <!-- for Meteor
      <div ng-show="currentUser">
        <button class="button" id="logout" ng-click="Login.logout()">Logout</button>
      </div>

      <div ng-show="currentUser==null">
        <button class="button" id="facebook-login" ng-click="Login.login()">Login with Facebook</button>
      </div>
    -->

      <button class="button" id="logout" ng-click="Login.logout()">Logout</button>
      <button class="button" id="facebook-login" ng-click="Login.login()">Login with Facebook</button>
      <h3>{{Login.authData.facebook.displayName}}</h3>      
    </div>
  </ion-content>
</ion-view>
