<ion-view title="Profile">
  <ion-content class="has-header">

<!--
    <div class="list card do-flip" ng-class="{on:onOff}"  ng-click="Profile.flip()">
      <div class="item item-divider item-icon-right">Click Me!<i class="icon ion-ios-refresh-outline"></i></div>
      <div class="item item-body">
        <div>
          Quote: {{Profile.message}}
        </div>
      </div>
    </div>
-->
  <!-- Portal Style PODs that maximise -->
    <div class="list card" ng-click="Profile.openIntegritometerModal()">
      <div class="item item-divider item-icon-right">Integritometer<i class="icon ion-ios-arrow-down"></i></div>
      <div class="item item-body integritometer-mini">
            <px-integritometer></px-integritometer>
      </div>
    </div>

  </ion-content>
</ion-view>
