<ion-modal-view>
   <ion-header-bar>
    <h1 class="title">Share {{Share.promiseId}}</h1>
     <div class="buttons">
       <button class="button button-clear button-positive" ng-click="Share.hideModal()">Done</button>
     </div>
   </ion-header-bar>
   <ion-view title="Share">

     <ion-content>
       <ion-list>
         <ion-item>
            <button ng-click="Share.createPrivateRoom()" class="button button-clear button-positive">Create Private Room</button>
         </ion-item>
         <ion-item class="item-remove-animate item-avatar item-icon-right"
             ng-repeat="item in Share.list" type="item-text-wrap" ng-click="Share.invite(item)">
           <img ng-src="{{item.image}}">
           <h2>{{item.name}}</h2>
           <i class="icon ion-chevron-right icon-accessory"></i>

           <ion-option-button class="button-assertive" ng-click="remove(chat)">
             Share
           </ion-option-button>
         </ion-item>
       </ion-list>

     </ion-content>
   </ion-view>

 </ion-modal-view>
