<ion-modal-view>
   <ion-header-bar>
     <h2></h2>
     <div class="buttons">
       <button class="button button-clear button-positive" ng-click="Tinder.hideModal()">Done</button>
     </div>
   </ion-header-bar>
   <ion-view>

     <ion-content class="bg-black">
       <div ng-if="Tinder.cards.active">
         <p class="white padding" style="text-align: center">Swipe Left to decline, swipe right to accept</p>
         <td-cards>
           <td-card ng-repeat="item in Tinder.cards.active" on-destroy="Tinder.cardDestroyed($index)"
             on-swipe-left="Tinder.cardSwipedLeft($index)" on-swipe-right="Tinder.cardSwipedRight($index)">

             <div class="bg-blue">
               <div class="no-text">Decline</div>
               <div class="yes-text">Accept</i></div>

               <img ng-src="{{ item.image }}" width="300px" height="300px">
               <div class="padding">
                 <h2 class="yellow">{{item.name}}</h2>
                 <div class="yellow">{{item.title}}</div>
                 <div class="aqua" style="float:left;padding-top:5px">Due {{item.dueDate}}</div>
                 <div class="white" style="float:right">{{item.area}}</div>
                 <div style="clear:both"></div>
                 <div class="white" style="float:left">{{item.status}}</div>
                 <div class="white" style="float:right">Value {{item.value}}</div>
                 <div style="clear:both"></div>
                 <div class="white">This is the Reward. This is the Reward</div>
                 <div class="yellow">Here is the forfeit, the forfeit, the forfeit</div>
                 <div style="clear:both"></div>

                <button class="button button-small button-balanced" ng-click="Tinder.counter({{item.id}})">Counter Offer</button>

               </div>

             </div>
           </td-card>
         </td-cards>
       </div>


     </ion-content>
</ion-view>
</ion-modal-view>
