<ion-modal-view>
   <ion-header-bar>
     <h1 class="title">Promise</h1>
     <div class="buttons">
       <button class="button button-clear button-positive" ng-click="Tinder.hideModal()">Close</button>
     </div>
   </ion-header-bar>
   <ion-view>

     <ion-content class="bg-black">

       <div ng-if="Tinder.cards.active && Tinder.type=='request' && Tinder.status=='Pending'">
         <ng-include  src="'client/js/tinder/request_pending.html'">
         </ng-include>
       </div>

       <div ng-if="Tinder.cards.active && Tinder.type=='promise' && Tinder.status=='Pending'">
         <ng-include  src="'client/js/tinder/promise_pending.html'">
         </ng-include>
       </div>

       <div ng-if="Tinder.cards.active && Tinder.status!='Pending'">
         <ng-include  src="'client/js/tinder/readonly.html'">
         </ng-include>
       </div>



     </ion-content>
</ion-view>
</ion-modal-view>
