<ion-view title="My Promises">
  <ion-content class="has-header myPromiseList bg-orange">

    <ion-list>
      <ion-item ng-repeat="item in PromiseList.list" ng-click="PromiseList.viewDetail(item)" class="item-text-wrap white">

        <div class="yellow">{{item.title}}</div>
        <div class="aqua" style="float:left;padding-top:5px">Due {{item.dueDate}}</div>
        <div class="white" style="float:right">{{item.area}}</div>
        <div style="clear:both"></div>
        <div class="white" style="float:left">{{item.status}}</div>
        <div class="white" style="float:right">Value {{item.value}}</div>
        <div style="clear:both"></div>

        <ion-option-button class="button-positive" ng-if="item.status=='Pending'"  ng-click="PromiseList.openShare(item, $event)">Share</ion-option-button>
        <ion-option-button class="button-royal" ng-if="item.status=='Pending'"  ng-click="PromiseList.openRequest(item, $event)">Request</ion-option-button>
        <ion-option-button class="button-calm" ng-click="PromiseList.openChat(item,$event)">Chat</ion-option-button>
        <ion-option-button class="button-assertive" ng-if="item.status=='Pending'" ng-click="PromiseList.revoke(item,$event)">Revoke</ion-option-button>
        <ion-option-button class="button-positive" ng-if="item.status=='Overdue'" ng-click="PromiseList.notDone(item,$event)">Not Done</ion-option-button>
        <ion-option-button class="button-balanced" ng-if="item.status=='Enshrined'" ng-click="PromiseList.openDone(item,$event)">Done</ion-option-button>
        <ion-option-button class="button-positive" ng-if="item.status=='Acknowledged'" ng-click="PromiseList.complete(item,$event)">Complete</ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
