<ion-view title="Summary">

  <ion-content class="has-header">

  <div class="list card" ng-click="PromiseHome.openPromiseList()">
    <div class="item item-divider item-icon-right">Your Promises<i class="icon ion-ios-arrow-down"></i></div>
    <div class="item item-body">
      <ion-list>
        <ion-item>You have <b>8</b> Promises</ion-item>
        <ion-item class="item-icon-left"><i class="icon ion-clock"></i>You have a promise due in 2 weeks</ion-item>
      </ion-list>
    </div>
  </div>

  <div class="list card" ng-click="PromiseHome.openWatchList()">
    <div class="item item-divider item-icon-right">Watching<i class="icon ion-ios-arrow-down"></i></div>
    <div class="item item-body">
          <ion-list>
            <ion-item>You are watching <b>12</b> Promises</ion-item>
            <ion-item class="item-icon-left"><i class="icon ion-clock"></i>Sally Marshall has a promise due</ion-item>
            <ion-item class="item-icon-left"><i class="icon ion-trophy"></i>Jon Snow's has done this promise</ion-item>
          </ion-list>
    </div>
  </div>

  <div class="list card" ng-click="PromiseHome.comingSoon()">
    <div class="item item-divider item-icon-right">Requests<i class="icon ion-ios-arrow-down"></i></div>
    <div class="item item-body">
      <ion-list>
        <ion-item>You have <b>10</b> Requests</ion-item>
        <ion-item class="item-icon-left"><i class="icon ion-clock"></i>The next Request is due in 1 week</ion-item>
      </ion-list>
    </div>
  </div>

  </ion-content>
</ion-view>
