/* Empty. Add your own CSS if you like */

.buffer {
  top: 100px !important;
}

.do-flip.on-add{
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.do-flip.on-remove{
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}

.round-profile-photo {
  border-radius: 50%;
	width:40px;
}


/* Chat - for FOOTER to display
see: http://codepen.io/mhartington/pen/pumtb (code sample)
and https://github.com/driftyco/ionic/issues/728 (original)
*/

.sub-footer{
  bottom:0px !important;
}

/* Login */
.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 120px;
}
/*
.login-container > .header h2 {
      color: #ff00ff;
}
*/


.myPromiseList .item {
  background-color: transparent;
  border: none;
  border-top: 1px solid;
  border-bottom: 2px solid;
}

.myPromiseList .item-complex .item-content,
.item-radio .item-content {
  background-color: transparent;
}


/* Sidemenu */
.bg-transparent {
  background-color: transparent;
}


.avatar {
  border-radius: 50%;
  border: 10px solid #ffb732;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position:absolute;
  top: 16px;
  left:16px;
  height: 88px;
  width: 88px;
}

.avatar:hover {
  border: 3px solid white;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu-open .bar.bar-header.expanded {
    background-color: #ffa500;
    min-height: 150px;
}

.has-expanded-header {
    top: 150px!important;
}

/* Item */
/* for item : if you want to use a 'chevron' symbol ">" on the list, remove this style */
.item-complex .item-content, .item-radio .item-content {
    padding: 16px 16px 16px 16px;
}
