/* Empty. Add your own CSS if you like */

.buffer {
  top: 100px !important;
}

.do-flip.on-add{
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.do-flip.on-remove{
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}

.round-profile-photo {
  border-radius: 50%;
	width:40px;
}


.item.item-body.integritometer-mini {
  height:200px;
}

/* Chat - for FOOTER to display
see: http://codepen.io/mhartington/pen/pumtb (code sample)
and https://github.com/driftyco/ionic/issues/728 (original)
*/
.has-footer.has-tabs {
  bottom: 93px;
}

.sub-footer{
  bottom:50px !important;
}
