/* Empty. Add your own CSS if you like */

.buffer {
  top: 100px !important;
}

.do-flip.on-add{
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.do-flip.on-remove{
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}

.round-profile-photo {
  border-radius: 50%;
	width:40px;
}


.item.item-body.integritometer-mini {
  height:200px;
}

/* Chat - for FOOTER to display
see: http://codepen.io/mhartington/pen/pumtb (code sample)
and https://github.com/driftyco/ionic/issues/728 (original)
*/

.sub-footer{
  bottom:0px !important;
}
/* Login */
.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    /*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
    */
    background-color : #F9F9F9;
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}
